<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XboxDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XboxDownload.Properties.Settings>
            <setting name="NextUpdate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DnsIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ComIP" serializeAs="String">
                <value />
            </setting>
            <setting name="GameLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CnIP" serializeAs="String">
                <value />
            </setting>
            <setting name="AppIP" serializeAs="String">
                <value />
            </setting>
            <setting name="PSIP" serializeAs="String">
                <value />
            </setting>
            <setting name="NSIP" serializeAs="String">
                <value />
            </setting>
            <setting name="NSBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NSHomepage" serializeAs="String">
                <value>https://xbox.skydevil.xyz</value>
            </setting>
            <setting name="EAIP" serializeAs="String">
                <value />
            </setting>
            <setting name="BattleIP" serializeAs="String">
                <value />
            </setting>
            <setting name="BattleCDN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EpicIP" serializeAs="String">
                <value />
            </setting>
            <setting name="EpicCDN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UbiIP" serializeAs="String">
                <value />
            </setting>
            <setting name="UbiCDN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Truncation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalUpload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ListenIP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DnsService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HttpService" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetDns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MicrosoftStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EAStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BattleStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EpicStore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UbiStore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalIP" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IpLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="IpsAkamai" serializeAs="String">
                <value />
            </setting>
            <setting name="Authorization" serializeAs="String">
                <value />
            </setting>
        </XboxDownload.Properties.Settings>
    </userSettings>
</configuration>